# Файл: talosconfig.j2
# Это Jinja2 шаблон для генерации файла talosconfig.
context: {{ talos_cluster_name }}
contexts:
  {{ talos_cluster_name }}:
    endpoints:
{% for host in groups[target] %}
      - "{{ hostvars[host].s1_ip_addr.split('/')[0] }}:50000"
{% endfor %}
    ca: |
      {{ talos_secrets.certs.os.crt | indent(6) }}
    crt: |
      {{ talos_client.crt | indent(6) }}
    key: |
      {{ talos_client.key | indent(6) }}
